body {
    background-color: rgb(139, 130, 0);
    text-decoration: darkgoldenrod;
}
.header {
    color: rgb(139, 67, 0);
    text-align: center;
    font-size: 80px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}
.introimg {
    text-align: center;
}
.bio {
    line-height: 20px;
}
h3 {
    font-size: 40px;
    text-align: center;
}
.ul {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.link {
    padding: 60px; 
}
.mk{ 
    width: 500px;
    height: 500px;
}